<h2>All Pokemon</h2>

<% @pokemons.each do |pokemon| %>
      <a href="/pokemon/<%= pokemon.id %>">
        <%= pokemon.name %></a>
      <br><br>
<% end %>

<h2><a href="/trainers">View all Pokemon trainers</a></h2>
<h2><a href="/pokemon/new"> Add a new Pokemon</a></h2>
