<h1>Create a new Pokemon</h1>

<form action="/pokemon" method="post">
  <label>Name:</label>
  <input name="pokemon[name]">

  <label>Type:</label>
  <input name="pokemon[poke_type]">

  <label>CP:</label>
  <input name="pokemon[cp]">

  <button type="submit">Create your Pokemon</button>
</form>
