<h2><a href="/pokemon">Back To All Pokemon</a></h2>
<div class = "pokemon">
  <p>Pokemon name: <%= @pokemon.name  %></p>
  <p>Pokemon type: <%= @pokemon.poke_type %></p>
  <p>Pokemon cp: <%= @pokemon.cp %></p>
</div>

<a href='/pokemon/<%= @pokemon.id %>/edit'>Edit your Pokemon</a>
