<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gotta Catch 'Em All</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    < <%= yield %>
  </body>
</html>
